/* HEADER */
/*ADVISOR LOGIN*/
/*NAVIGATION COLORS*/
/* PAGE */
/* FOOTER */
/* DEF TEMPLATE */
/* DOC-LIB TEMPLATE */
/* EMP TEMPLATE */
/* IFRAME TEMPLATE */.century-gothic-regular {
  font-family: 'Century Gothic W01';
}
.century-gothic-bold {
  font-family: 'Century Gothic W01 Bold';
}
.century-gothic-italic {
  font-family: 'CenturyGothicW01-Italic';
}
.century-gothic-bold-italic {
  font-family: 'CenturyGothicW01-BoldIt';
}
.twentieth-century-light {
  font-family: 'Tw Cen W01 Light';
}
.twentieth-century-light-italic {
  font-family: 'Tw Cen W01 Light Italic';
}
.georgia {
  font-family: Georgia;
}
.avenier35-light {
  font-family: 'Avenir LT W01 35 Light';
}
.avenier35-light-oblique {
  font-family: 'AvenirLTW01-35LightObli';
}
/*
font-family:'Century Gothic W01 Bold';
font-family:'CenturyGothicW01-BoldIt';
font-family:'CenturyGothicW01-Italic';
font-family:'Century Gothic W01';
font-family:'Tw Cen W01 Light';
font-family:'Tw Cen W01 Light Italic';
font-family:'Avenir LT W01 35 Light';
font-family:'AvenirLTW01-35LightObli';

*/#def {
  display: block;
  min-height: 100%;
  color: #323232;
}
#def div.container {
  width: 1024px;
  height: 100%;
}
#def div.container div.content {
  width: 630px;
  height: 100%;
  display: block;
  padding-left: 80px;
  padding: 0px;
  float: left;
  background: url("/Content/images/frontend/leftGradient.jpg") top left repeat-y;
}
#def div.container div.content h4 {
  width: 530px;
  text-indent: 18px;
  color: #7f7975;
  font-weight: normal;
  margin-left: 90px;
  margin-top: 27px;
  margin-bottom: 27px;
  padding: 0px;
  font-family: 'Avenir LT W01 35 Light';
  font-size: 33px;
}
#def div.container div.content div.copy {
  width: 490px;
  padding: 15px 20px 0px 20px;
  margin: -10px 0px 0px 90px;
  display: block;
  height: 100%;
  background: url("/Content/images/frontend/bottomBarGradient.jpg") top center repeat-x;
}
#def div.container div.content div.copy p {
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;
  font-family: 'Century Gothic W01';
  font-size: 12px;
}
#def div.container div.sidebar {
  width: 394px;
  height: 100%;
  float: left;
  background: url("/Content/images/frontend/sidebarGradient.jpg") top left repeat-y;
}
#def div.container div.sidebar div {
  width: 246px;
  height: 258px;
  margin-top: 35px;
  margin-bottom: 20px;
  margin-left: 68px;
  clear: both;
  cursor: pointer;
  /* types */

}
#def div.container div.sidebar div.first {
  margin-top: 8px;
}
#def div.container div.sidebar div.last {
  margin-bottom: 25px;
}
#def div.container div.sidebar div.Image {
  cursor: pointer;
}
#def div.container div.sidebar div.Flash {
  cursor: pointer;
}
#def div.container div.sidebar div.PDF {
  cursor: pointer;
}
#def div.container div.sidebar div.Link {
  cursor: pointer;
}
