.century-gothic-regular {
  font-family: 'Century Gothic W01';
}
.century-gothic-bold {
  font-family: 'Century Gothic W01 Bold';
}
.century-gothic-italic {
  font-family: 'CenturyGothicW01-Italic';
}
.century-gothic-bold-italic {
  font-family: 'CenturyGothicW01-BoldIt';
}
.twentieth-century-light {
  font-family: 'Tw Cen W01 Light';
}
.twentieth-century-light-italic {
  font-family: 'Tw Cen W01 Light Italic';
}
.georgia {
  font-family: Georgia;
}
.avenier35-light {
  font-family: 'Avenir LT W01 35 Light';
}
.avenier35-light-oblique {
  font-family: 'AvenirLTW01-35LightObli';
}
/*
font-family:'Century Gothic W01 Bold';
font-family:'CenturyGothicW01-BoldIt';
font-family:'CenturyGothicW01-Italic';
font-family:'Century Gothic W01';
font-family:'Tw Cen W01 Light';
font-family:'Tw Cen W01 Light Italic';
font-family:'Avenir LT W01 35 Light';
font-family:'AvenirLTW01-35LightObli';

*/* {
  line-height: 17px;
  outline: none;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: 'Century Gothic W01';
  font-size: 12px;
}
body {
  margin: auto;
  background: #f7f7f7;
  color: #cdcdcd;
}
body h1 {
  color: #323232;
  font-size: 24px;
  font-family: 'Tw Cen W01 Light';
}
body input, body textarea {
  background: transparent;
  font-size: 14px;
  color: #8e8e8e;
  line-height: 16px;
  padding: 1px 5px 2px 5px;
  border: solid 1px #bfbfbf;
  width: 166px;
  font-family: 'Century Gothic W01';
}
body input[type="button"] {
  color: #b40406;
  border-bottom: none;
  border-left: none;
  text-align: right;
  width: 100%;
  cursor: pointer;
  font-family: 'Century Gothic W01';
}
body input[type="button"]:hover {
  border-color: #b40406;
}
