/* BACKGROUND COLORS */
/* ERROR COLOR */
/* PARAGRAPH COLORS */
/* HEADER COLORS */
/* FOOTER COLORS */
/* TOP BAR COLORS */
/* NAVIGATION COLORS */
/* ACTION BOX COLORS */
/* ACTION CONTENT COLORS */
/* BUTTON COLORS */
/* LINK COLORS */
/* TABLE COLORS */
/* PAGER COLORS */
* {
  font-family: Trebuchet MS;
  font-size: 12px;
  outline: none;
}
html, body {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
}
a {
  color: #f37633;
  text-decoration: none;
}
a:hover {
  color: #e3411c;
}
a img {
  border: none;
}
a.button {
  padding-top: 7px;
  padding-bottom: 7px;
  color: white;
}
p {
  color: #666666;
}
h2 {
  color: #666666;
  font-size: 16px;
  padding: 6px 0px 0px 15px;
  height: 23px;
  background-color: #bdbdbd;
  border-bottom: 1px solid #f2f2f2;
  margin-top: 0px;
}
h3 {
  color: #666666;
  font-size: 14px;
}
#content #header {
  height: 85px;
  width: 100%;
  margin: auto;
  background-color: #e3411c;
}
#content #header #topBar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 30px;
  background: #f37633;
  background: -moz-linear-gradient(top, #f37633, #e3411c);
  background: -webkit-gradient(linear, left top, left bottom, from(#f37633), to(#e3411c));
}
#content #header #topBar #topBarContent {
  color: #f2f2f2;
  width: 980px;
  margin: auto;
  padding-top: 3px;
  text-align: right;
}
#content #header #topBar #topBarContent .textFormatting {
  color: #f2f2f2;
  font-size: 11px;
  font-weight: bold;
}
#content #header #topBar #topBarContent .textPadding {
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
}
#content #header #topBar #topBarContent .textFormatting a, #content #header #topBar #topBarContent span {
  padding: 0;
  padding-left: 5px;
  padding-right: 5px;
  color: #f2f2f2;
  font-size: 11px;
  font-weight: bold;
}
#content #header #topBar #topBarContent a {
  color: #f2f2f2;
}
#content #header #topBar #topBarContent a:hover {
  color: #333333;
}
#content #header #headerContent {
  width: 980px;
  margin: auto;
}
#content #header #headerContent span {
  font-size: 24px;
  color: #f2f2f2;
  margin-top: 35px;
  display: inline-block;
}
#content #nav {
  height: 32px;
  background: url("/Content/images/navBg.jpg") top left repeat-x;
}
#content #nav #navContent {
  width: 980px;
  margin: auto;
  position: relative;
}
#content #nav #navContent .navButton {
  display: inline-block;
  height: 21px;
  padding: 9px 15px 0px 15px;
  border: none;
  border-left: 1px solid transparent;
  color: #e3411c;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  float: left;
}
#content #nav #navContent .navButton:hover {
  background: #e3411c;
  background: -moz-linear-gradient(top, #e3411c, #f37633);
  background: -webkit-gradient(linear, left top, left bottom, from(#e3411c), to(#f37633));
  color: #f2f2f2;
}
#content #nav #navContent .navButton.selected {
  position: relative;
  top: 0px;
  height: 21px;
  padding-top: 8px;
  color: #f2f2f2;
  border: 1px solid #e3411c;
  border-bottom: none;
  background: #e3411c;
  background: -moz-linear-gradient(top, #e3411c, #f37633);
  background: -webkit-gradient(linear, left top, left bottom, from(#e3411c), to(#f37633));
}
#content #pageContainer {
  width: 100%;
  height: auto;
  min-height: 300px;
  margin: auto;
  background: url("/Content/images/patternBg.jpg") top left repeat-x;
}
#content #pageContainer #pg {
  margin: auto;
  width: 980px;
  padding: 2px;
}
#content #pageContainer #pg .smallForm {
  width: 300px;
}
#content #pageContainer #pg .actionBox {
  border: solid 1px #bdbdbd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin: auto;
  margin-top: 20px;
  display: none;
}
#content #pageContainer #pg .actionBox.smallForm {
  display: block;
}
#content #pageContainer #pg .actionBox h2 {
  padding-left: 15px;
}
#content #pageContainer #pg .actionBox .actionHeader {
  padding-top: 6px;
  padding-left: 15px;
  height: 23px;
  background-color: #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}
#content #pageContainer #pg .actionBox .actionHeader h3 {
  color: #333333;
  margin: 0;
}
#content #pageContainer #pg .actionBox .actionContent {
  padding: 15px;
}
#content #pageContainer #pg .actionBox .actionContent h4 {
  text-transform: uppercase;
  color: #666666;
  font-size: 12px;
  margin: 0;
  margin-bottom: 6px;
}
#content #pageContainer #pg .actionBox .actionContent h4 span {
  font-size: 10px;
  font-weight: normal;
  text-transform: none;
}
#content #pageContainer #pg .actionBox input[type=text], #content #pageContainer #pg .actionBox input[type=password] {
  display: block;
  width: 250px;
  height: 22px;
  line-height: 22px;
  padding-left: 5px;
  padding-right: 5px;
  color: #666666;
  font-size: 14px;
  margin-bottom: 10px;
}
#content #pageContainer #pg .actionBox select {
  display: block;
  width: 265px;
  height: auto;
  line-height: 22px;
  padding-left: 5px;
  padding-right: 0px;
  color: #666666;
  font-size: 14px;
  margin-bottom: 10px;
}
#footer {
  width: 100%;
  height: 40px;
  color: #e3411c;
  margin-bottom: 40px;
}
#footer #footerContent {
  width: 980px;
  margin: auto;
  text-align: right;
  height: 40px;
}
#footer #footerContent div {
  float: left;
}
#footer #footerContent div.poweredBy {
  text-align: center;
  height: 26px;
  position: relative;
  float: right;
}
#footer #footerContent div.poweredBy div {
  position: absolute;
  top: 0px;
  left: -110px;
}
#footer #footerContent div.poweredBy div img {
  position: absolute: 12px;
  left: 0px;
  padding-left: 10px;
}
#footer #footerContent div.copyrights {
  padding-top: 28px;
}
#viewer {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 102;
  width: 875px;
  min-height: 360px;
  height: auto;
  display: none;
  background: white url("/Content/images/patternBg.jpg") top left repeat-x;
  border: solid 2px #999999;
  border-top: none;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
#viewer #x {
  width: 99%;
  text-align: right;
  padding-right: 5px;
  padding-top: 5px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  color: #666666;
}
#viewer #media {
  width: 815px;
  min-height: 297px;
  height: auto;
  padding: 10px;
  margin-top: 12px;
  position: relative;
}
#viewer #media div {
  width: 275px;
  float: left;
}
#viewer #media div.mediaPreview {
  margin: auto;
}
#viewer #media div img {
  border: none;
  max-width: 560px;
  min-height: 297px;
  height: auto;
  margin-left: 10px;
}
#imageViewer {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 102;
  width: 100%;
  max-width: 948px;
  height: auto;
  display: none;
  background: white url("/Content/images/patternBg.jpg") top left repeat-x;
  border: solid 2px #999999;
  border-top: none;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
#imageViewer #x {
  width: 98%;
  text-align: right;
  padding-right: 5px;
  padding-top: 10px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  color: #666666;
}
#imageViewer #media {
  padding: 10px;
  text-align: center;
}
#imageViewer #media img {
  border: none;
}
#imageViewer #media iframe {
  width: 100%;
  height: auto;
  min-height: 375px;
}
/* CLASSES */
.templateDescriptions {
  position: relative;
  left: 275px;
  top: -28px;
  color: #e3411c;
}
.buttonContainer {
  margin-top: 20px;
  text-align: left;
}
.button {
  padding: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: white;
  background: #e3411c;
  background: -moz-linear-gradient(top, #e3411c, #e37633);
  background: -webkit-gradient(linear, left top, left bottom, from(#e3411c), to(#e37633));
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  border: 1px solid #f2f2f2;
  cursor: pointer;
}
.button:hover {
  background: #e3411c;
  background: -moz-linear-gradient(top, #e3411c, #ff9966);
  background: -webkit-gradient(linear, left top, left bottom, from(#e3411c), to(#ff9966));
}
.button:active {
  background: #e3411c;
  background: -moz-linear-gradient(top, #e3411c, #e3411c);
  background: -webkit-gradient(linear, left top, left bottom, from(#e3411c), to(#e3411c));
}
.button.small {
  padding: 3px 10px 3px 10px;
}
.dataGrid {
  width: 100%;
  height: auto;
}
.dataGrid .headerRow {
  background-color: #bdbdbd;
}
.dataGrid th {
  color: #666666;
  text-transform: uppercase;
  text-align: left;
  border: solid 1px #919191;
  padding: 5px;
}
.dataGrid td {
  color: #666666;
  text-indent: 2px;
}
.error {
  color: #990000;
  font-size: 11px;
}
span.error {
  position: relative;
  left: 280px;
  top: -30px;
}
.pager {
  margin-top: 20px;
  text-align: right;
}
.pager span.element {
  font-size: 12px;
  color: #666666;
}
.pager span.selectedElement {
  font-size: 12px;
  font-weight: bold;
  color: #666666;
  border: solid 1px #e3411c;
  padding: 2px;
}
.pager a.element {
  text-decoration: none;
}
.pager a.element:hover {
  text-decoration: none;
}
span.divider {
  font-size: 12px;
  color: #bdbdbd;
  margin-left: 1px;
  margin-right: 1px;
}
.sortWindow {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 101;
  min-width: 300px;
  width: auto;
  min-height: 200px;
  height: auto;
  display: none;
  background: white url("/Content/images/patternBg.jpg") top left repeat-x;
  border: solid 5px #e3411c;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}
.sortWindow div.header {
  height: 32px;
  background: url("/Content/images/navBg.jpg") top left repeat-x;
  text-align: left;
  text-indent: 10px;
  font-size: 20px;
  font-weight: bold;
  padding-top: 4px;
  color: #666666;
}
.sortWindow div.body {
  padding: 10px;
}
.sortWindow div.body div {
  float: left;
}
.sortWindow div.body div.selectButtons {
  padding-left: 10px;
  padding-right: 10px;
  width: 50px;
  height: 50px;
  margin: auto;
}
.sortWindow div.body div.selectButtons div {
  clear: both;
  float: left;
  margin-bottom: 5px;
  margin-top: 5px;
  cursor: pointer;
}
.sortWindow div.body div.selectButtons div.up {
  width: 20px;
  height: 20px;
  background: url("/Content/images/arrowUp.png") top left no-repeat;
}
.sortWindow div.body div.selectButtons div.up:hover {
  background: url("/Content/images/arrowUp_over.png");
}
.sortWindow div.body div.selectButtons div.down {
  width: 20px;
  height: 20px;
  background: url("/Content/images/arrowDown.png") top left no-repeat;
}
.sortWindow div.body div.selectButtons div.down:hover {
  background: url("/Content/images/arrowDown_over.png");
}
.sortWindow div.body div.buttonContainer {
  clear: both;
  margin-bottom: 15px;
  margin-top: 15px;
}
.subform {
  display: none;
  width: 250px;
}
.empDesc {
  color: #323232;
  font-size: 11px;
  font-style: oblique;
  padding: 5px 0px 5px 0px;
}
.empName {
  color: black;
  font-size: 18px;
}
.empTitle {
  color: #afaba9;
  font-size: 10px;
  text-transform: uppercase;
  padding-top: 5px;
}
.empEmail {
  color: #b40406;
  font-size: 10px;
}
#gradient {
  width: 100%;
  height: 100%;
  background: black;
  z-index: 110;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.65;
  display: none;
}
#overlay {
  width: auto;
  height: auto;
  background: transparent;
  z-index: 111;
  margin: auto;
  position: absolute;
  top: 0px;
  display: none;
}
#overlay div.x {
  float: right;
  width: 42px;
  height: 42px;
  position: relative;
  top: -20px;
  left: 20px;
  cursor: pointer;
}
#overlay div.container {
  width: auto;
  height: auto;
  margin: 10px;
  padding: 0px;
  z-index: 110;
}
#overlay div.container div#data {
  width: auto;
  height: auto;
  z-index: 109;
}
#overlay div.container div#data iframe {
  border: none;
  margin: auto;
  padding: auto;
  width: 1280px;
  height: 768px;
  margin-top: -35px;
}
