@{
    ViewBag.Title = "PasswordEmailed";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="actionBox">
    <h2>Password Emailed</h2>
    <div class="actionContent">
        <p>An email with your password has been sent to the email address provided.</p><br />
        <div class="buttonContainer">
            @Html.ActionLink("Login", "Login", new { controller = "Login", action = "Login", returnUrl = ViewData["returnUrl"].ToString() }, new { @class = "button" }) 
        </div>
    </div>
</div>

